- if current_path == 'index.html'
  .mypic
    %img{ src: "images/Mynd-Maggi.png"}
- elsif current_path == 'portfolio.html'
  .projects
    - data.projects.each do |project|
      %mylist
        %ul
          %a{ href: "javascript:void(0)",
          id: "#{project[:name]}",
          'data-show': "#{project[:description]}",
          'data-link': "#{project[:link]}",
          'data-weblink': "#{project[:weblink]}",
          'data-logo': "#{project[:logo]}"}
            %h5= project[:name]
- elsif current_path == 'about.html'
  .job
    - data.jobs.each do |job|
      .mylist
        %ul
          %a{ href: "javascript:void(0)", id: "#{job[:job]}", 'data-show': "#{job[:description]}"}
            %h5= job[:job]
